@font-face {
  font-family: 'suit';
  font-style: normal;
  font-weight: 400;
  src: url(./font/SUIT-Regular.woff2) format("woff2"), url(./font/SUIT-Regular.woff) format("woff");
}

@font-face {
  font-family: 'suit';
  font-style: normal;
  font-weight: normal;
  src: url(./font/SUIT-Regular.woff2) format("woff2"), url(./font/SUIT-Regular.woff) format("woff");
}

@font-face {
  font-family: 'suit';
  font-style: normal;
  font-weight: 500;
  src: url(./font/SUIT-SemiBold.woff2) format("woff2"), url(./font/SUIT-SemiBold.woff) format("woff");
}

@font-face {
  font-family: 'suit';
  font-style: normal;
  font-weight: 700;
  src: url(./font/SUIT-ExtraBold.woff2) format("woff2"), url(./font/SUIT-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: 'suit';
  font-style: normal;
  font-weight: bold;
  src: url(./font/SUIT-ExtraBold.woff2) format("woff2"), url(./font/SUIT-ExtraBold.woff) format("woff");
}

caption, .hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  clip: rect(0 0 0 0);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "suit", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

textarea {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  resize: none;
}

input,
select,
button,
select,
textarea {
  padding: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  resize: none;
  vertical-align: middle;
  border: none;
  font-family: "suit";
}

select {
  color: #000;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

ul,
ol {
  list-style: none;
}

em,
address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

hr,
legend {
  display: none;
}

strong,
b {
  font-weight: 700;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: none;
  cursor: pointer;
  color: #000;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

a:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  outline: 2px dotted black;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: inherit;
}

/* common */
/* skipmenu */
.skip a {
  position: fixed;
  left: 0;
  top: -60px;
  overflow: hidden;
  display: block;
  height: 0;
  width: 0;
  margin-bottom: -1px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  z-index: 10001;
  background: #000;
  font-size: 16px;
  font-weight: bold;
}

.skip a:focus, .skip a:active {
  top: 0;
  height: auto;
  width: 100%;
  color: #fff;
  line-height: 60px;
}

caption, .hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  clip: rect(0 0 0 0);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.btn--outlined {
  height: 54px;
  padding: 0 30px;
  border: 1px solid #ddd;
  border-radius: 54px;
}

.btn--download:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background: url("../images/icon-download.svg") no-repeat;
}

.select-wrap {
  position: relative;
}

.select-wrap select {
  border-color: transparent;
  background: transparent;
  color: transparent;
}

.select-wrap > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 52px;
  padding: 0 38px 0 10px;
  font-size: 18px;
  text-align: left;
}

.select-wrap > button:after {
  content: '';
  display: block;
  position: absolute;
  right: 9px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url("../images/icon-arrow.svg") no-repeat 100% 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select-wrap > button[aria-expanded='true']:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.select-wrap select[data-options*='up'] ~ .select-button:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.select-wrap select[data-options*='up'] ~ .select-button[aria-expanded='true']:after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.select-wrap .select-list-wrap {
  display: none;
  position: absolute;
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  z-index: 9999;
}

.select-wrap .select-list-wrap .select-list {
  overflow: hidden;
}

.select-wrap .select-list-wrap li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  text-align: left;
}

.select-wrap .select-list-wrap li a.ui-state-active, .select-wrap .select-list-wrap li a:hover, .select-wrap .select-list-wrap li a:focus {
  background: #f9f9f9;
  text-decoration: underline;
}

.select-wrap .select-list-wrap.select-open {
  display: block;
}

.select-wrap .scrollbar-wrap {
  position: absolute;
  top: 8px;
  right: 6px;
  bottom: 8px;
  width: 4px;
  padding: 8px 0;
  background: #ddd;
}

.select-wrap .scrollbar-wrap .scrollbar {
  position: absolute;
  width: 100%;
  background: #000;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-container {
  overflow: hidden;
  position: static;
  width: 100%;
  font-size: 0;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.swiper-pagination {
  margin-top: 40px;
}

.swiper-pagination-bullets {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  background: #dbdbdb;
}

.swiper-pagination-bullet-active {
  background: #4e4f51;
}

.lca-chart-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 30px;
  border-bottom: 1px solid #dcdddf;
}

.lca-chart-grid[data-options] {
  display: block;
}

.lca-chart-grid .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lca-chart-grid .swiper-slide .lca-chart + .lca-chart {
  margin-left: 60px;
  padding-left: 60px;
  border-left: 1px solid #e5e5e5;
}

.lca-chart-grid .swiper-pagination {
  margin-top: 30px;
  height: 10px;
}

.lca-chart-grid .lca-chart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lca-chart-grid .lca-chart.swiper-slide {
  overflow: visible;
  margin-right: 120px;
}

.lca-chart-grid .lca-chart.swiper-slide:before {
  content: "";
  position: absolute;
  right: -60px;
  top: 0;
  bottom: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #e5e5e5;
}

.lca-chart-grid .lca-chart--wide {
  width: 920px;
}

.lca-chart-grid .lca-chart--map {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1440px;
  padding-bottom: 40px;
}

.lca-chart-grid .lca-chart--map .lca-chart__area {
  height: 710px;
}

.lca-chart-grid .lca-chart--map:only-child {
  padding-right: 0;
  border-right: 0;
}

.lca-chart-grid .lca-chart__title {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  padding-right: 16px;
  background: url("../images/icon-chart-title.svg") no-repeat 100% 50%;
}

.lca-chart-grid .lca-chart__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.lca-chart-grid .lca-chart__unit {
  color: #aaa;
  font-size: 12px;
  white-space: nowrap;
}

.lca-chart-grid .lca-chart__area-wrap--four .swiper-slide {
  margin-right: 40px;
}

.lca-chart-grid .lca-chart__area text {
  font-family: 'suit' !important;
}

.lca-chart-grid .lca-chart__monthly-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  color: #333;
  font-size: 14px;
}

.lca-chart-grid .lca-chart__monthly-data li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lca-chart-grid .lca-chart__monthly-data li + li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #e5e5e5;
}

.lca-chart-grid .lca-chart__monthly-data li + li + li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lca-chart-grid .lca-chart__monthly-value {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 13px;
  font-size: 28px;
  font-weight: 500;
}

.lca-chart-grid .lca-chart__monthly-value.increase {
  color: #c72626;
}

.lca-chart-grid .lca-chart__monthly-value.decrease {
  color: #2b7832;
}

.lca-chart-grid .lca-chart__monthly-value span {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
}

.lca-chart-grid > .lca-chart--wide + .lca-chart {
  width: 460px;
  margin: 0 0 40px 60px;
  padding-left: 60px;
  border-left: 1px solid #e5e5e5;
}

.lca-chart-grid > .lca-chart--wide + .lca-chart .lca-chart__area-wrap {
  margin-bottom: -40px;
}
/*# sourceMappingURL=01.common.css.map */