@charset "utf-8";

body{font-family:'malgun gothic','dotum','Sans-serif';letter-spacing:-1px;}
body,section,article,aside,footer,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{margin:0;padding:0;}
strong,h1,h2,h3,h4,h5,h6{font-weight:bold;}
body{color:#4d4d4d;font-size:13px;}
hr{display:none}
ul, ol{list-style-type:none}
fieldset{margin:0;padding:0;border:0}
legend,caption{display:none}
address, em, cite{font-style:normal}
input, button, textarea, select{color:#4d4d4d;font-size:1em;font-family:'malgun gothic','dotum','Sans-serif';}
button, textarea, input, object, select{display:inline-block;vertical-align:middle;}
code, pre{font-size:1em}
button{overflow:visible;border:none;margin:0;padding:0;cursor:pointer;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}

img{border:0 none}
label{display:inline-block;vertical-align:middle}
table{width:100%;border-collapse:collapse}

a{color:#4d4d4d;text-decoration:none}
a:hover, a:active, a:focus{text-decoration:underline}

ol:after, ul:after{content:"";clear:both;display:block}

.hidden{position:absolute;visibility:hidden;top:-9999px !important;left:-9999px !important;font:normal 1px/0.1 'dotum'}
.lyDim{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;background:rgba(0,0,0,0.5)}

/* important css */
.fCol1{color:#cc181e !important;}

.tL{text-align:left !important}
.tC{text-align:center !important}
.tR{text-align:right !important}
.valignT{vertical-align:top;}

.mt0{margin-top:0px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}

.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}

.clearfix{overflow:hidden;}
.clearfix:after{content:'';display:block;clear:both;}
.fLeft{float:left !important}
.fRight{float:right !important;}

/*gotoContents*/
#gotoContents{width:100%;font-size:18px;font-weight:bold;text-align:center;background:#273b9d;z-index:10001;}
#gotoContents a{display:block;height:0;width:0;margin-bottom:-1px;text-align:center;color:#fff;white-space:nowrap;overflow:hidden;}
#gotoContents a:focus, #gotoContents a:active{height:auto;width:auto;padding:20px 0 23px;color:#fff;}

/* layout */
.wrapper{position:relative;min-width:1200px;}
.header{background:#8e8e8e;}
.headWrap{position:relative;height:105px;text-align:left;}
.headWrap:after{content:'';display:block;clear:both;}
.container{position:relative;min-width:1200px;padding:30px 0 50px;}
.container:after{content:".";height:0;visibility:hidden;display:block;clear:both}
.snb{position:absolute;left:0;top:30px;width:200px;margin-left:30px}
.contents{position:relative;margin:0 20px 0 270px;text-align:left;background:#fff}
.footer{position:relative;padding:20px 0 30px 20px;text-align:left;letter-spacing:0;border-top:1px solid #ddd;background:#fff;}

.header .logo{position:absolute;left:30px;top:15px;z-index:100;text-align:center;}
.header .logo a{display:block;}
.header .loginInfo{position:relative;height:40px;padding:0 120px 0 20px;background:#565a5c;text-align:right;}
.header .loginInfo span{display:inline-block;padding-top:10px;font-size:15px;line-height:20px;color:#fff;}
.header .loginInfo span+span:before{content:'';display:inline-block;height:12px;padding-left:10px;margin-left:10px;border-left:1px solid #ccc;vertical-align:middle}
.header .loginInfo .btnS{position:absolute;right:20px;top:5px;}
.header .loginInfo .userInfo a:after{content:'>';display:inline-block;padding-left:5px;}
.header .loginInfo .txtLink{margin-left:10px;color:#fff;text-decoration:underline;}
.header .logout{position:absolute;right:20px;top:50%;height:30px;margin-top:-15px;padding:0 15px;font-weight:bold;line-height:28px;border:1px solid #ccc;background:#f5f5f5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.gnb{padding:40px 0 0 180px;}
.gnb ul:after{content:'';display:block;clear:both;}
.gnb ul li{float:left}
.gnb ul li a{padding:5px 0 8px;color:#fff;font-weight:bold;font-size:18px;}
.gnb ul li+li{margin-left:30px;}
.gnb ul li.on a, .gnb ul li a:hover, .gnb ul li a:focus, .gnb ul li a:active{color:#0653b6;text-decoration:underline}

.snbTit{display:block;padding:10px 0 15px 5px;color:#000;font-size:22px;font-weight:bold;border-bottom:3px solid #666}
.snbList>li{border-bottom:1px solid #ddd}
.snbList>li>a{display:block;padding:10px 5px;font-size:13px;font-weight:bold}
.snbList li.on>a, .snbList li a:hover, .snbList li a:active, .snbList li a:focus{color:#0653b6;text-decoration:underline}

.location{margin-top:17px;font-size:12px;text-align:right;}
.location a{display:inline-block;}

/* form */
input[type=text], input[type=password],input[type=file]{padding:4px 5px 6px 5px;color:#444;border:1px solid #acacac;background:#fff;font-size:13px;line-height:18px;letter-spacing:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input[readonly], select[readonly], input:disabled, select:disabled{background:#e8e8e8;}
input[type=file]::-ms-browse{border:0 none;}
input[type=file]::-ms-value{border:0 none;background:#fff;}
select{height:30px;padding:5px;border:1px solid #acacac}
textarea{width:100%;padding:10px;border:1px solid #acacac;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

input[type=radio]+label, input[type=checkbox]+label{margin-left:5px;vertical-align:-1px;}
label{margin-right:20px;}
label+br{margin:0;}
td label:last-child{margin-right:0;}

.btnCalendar,.btnCalendarMonth,.btnCalendarTime{display:inline-block;padding:6px;line-height:0;text-align:center;vertical-align:-6px;}

/*button*/
.btnBox{position:relative;margin-top:30px;text-align:center;}
.btnBox_t{position:relative;margin-top:20px;text-align:center;;}
.btnBox .lBtn{position:absolute;left:0;top:0;}
.btnM{display:inline-block;min-width:100px;height:40px;padding:0 20px;border:1px solid #1c69d4;background:#1c69d4;color:#fff;font-weight:bold;font-size:15px;line-height:36px;vertical-align:middle;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.btnS{display:inline-block;min-width:70px;height:30px;padding:0 15px;border:1px solid #1c69d4;background:#1c69d4;color:#fff;font-weight:bold;font-size:13px;line-height:27px;vertical-align:middle;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.cGray{border-color:#565a5c;color:#fff;background:#565a5c;}
.cWhite{border-color:#565a5c;color:#565a5c;background:#fff;}
td *+[class^='btnS'], [class*='btnBox'] a+a{margin-left:5px;}

.contents h1{margin:-20px 0 30px;padding-bottom:13px;color:#000;font-size:20px;font-weight:bold;border-bottom:1px solid #666}
.contents h2, .conTit2{margin-bottom:20px;color:#000;font-size:16px;font-weight:bold}
.contents h2:before, .conTit2:before{content:"";display:inline-block;width:3px;height:14px;margin-right:5px;vertical-align:-2px;background:#000;}

.topTab{margin-bottom:30px;border-bottom:2px solid #565a5c}
.topTab:after{content:"";display:block;clear:both;}
.topTab li{float:left;}
.topTab li a{display:block;min-width:100px;padding:10px 25px;border-top:1px solid #565a5c;border-right:1px solid #565a5c;font-size:16px;text-align:center;}
.topTab li:first-child a{border-left:1px solid #565a5c}
.topTab li.on a, .topTab li.on a:hover, .topTab li.on a:focus, .topTab li.on a:active{color:#fff;font-weight:bold;background:#565a5c}
.topTab li a:hover, .topTab li a:focus, .topTab li a:active{color:#fff;background:#8e8e8e;}

.tableType1{width:100%;border-top:2px solid #333;overflow:hidden;background:#fff;}
.tableType1 table{margin-top:-1px}
.tableType1 th, .tableType1 td{padding:7px 10px;line-height:1.4;text-align:center;border:1px solid #cfcfcf;word-wrap:break-word;word-break:break-all;}
.tableType1.minPd th, .tableType1.minPd td{padding:8px 3px;}
.tableType1 th{background:#efefef}
.tableType1 tbody th, .tableType1 tfoot td{background:#fafafa}
.tableType1.tbH th, .tableType1.tbH td{text-align:left;}

.tableType2{width:100%;border-top:1px solid #666;border-bottom:1px solid #666;overflow:hidden;}
.tableType2 table{margin:-1px 0}
.tableType2 th, .tableType2 td{padding:10px 15px;line-height:1.4;text-align:left;border:1px solid #cfcfcf;}
.tableType2 th.hg, .tableType2 td.hg{padding:20px 15px;}
.tableType2 th{background:#f5f5f5}
.tableType2.tbH th, .tableType2.tbH td{text-align:left;}
.tableType2+.btnRight{margin-top:10px;}

input.fullInp{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
td.noData{padding:50px 0 !important;}
td a{text-decoration:underline;}
td a[class*='btn']{text-decoration:none}

.listType1 li{padding-left:7px;}
.listType1 li:before{content:'';display:inline-block;width:2px;height:2px;margin-right:5px;margin-left:-7px;background:#000;vertical-align:3px}

p.txtInfo, span.txtInfo, ul.txtInfo li{color:#8e8e8e;font-size:13px;line-height:15px;}
span.txtInfo{display:inline-block;vertical-align:middle}
ul.txtInfo li+li{margin-top:5px;}
p.txtInfo:before, span.txtInfo:before, ul.txtInfo li:before{content:'※';display:inline-block;margin-right:5px;}
.resultArea{margin-top:50px;}
.resultArea .btnBox{margin-top:15px;}
.resultTxt{margin-bottom:10px;font-size:14px;}
.resultTxt strong{margin:0 3px;font-size:16px;vertical-align:-1px}

.sortType{text-align:right;}
.sortType em{margin-right:10px}
.sortType a+a:before{content:'';display:inline-block;height:11px;padding-left:10px;margin-left:6px;border-left:1px solid #8e8e8e;color:#8e8e8e;vertical-align:-1px}
.sortType a{text-decoration:underline;}
.sortType a:hover, .sortType a:focus, .sortType a.on{color:#262626;font-weight:bold;}

.unit{text-align:right;font-size:12px;}

.paging{min-height:30px;margin-top:20px;text-align:center;}
.paging a{display:inline-block;font-size:13px;height:30px;padding:0 12px;line-height:30px;vertical-align:middle;}
.paging a.on{color:#cc181e;;font-weight:bold;}
.paging a.prev, .paging a.next{padding:0;margin:0 12px;}
.paging a.first, .paging a.last{padding:0;}

.bdBbtn{position:absolute;margin-top:-30px}
.bdBbtn.dL{left:0;}
.bdBbtn.dR{right:0;}

.linkTxt{color:#1c69d4;text-decoration:underline;}

/* admin_login */
.loginWrap{position:absolute;top:50%;left:0;right:0;min-height:640px;margin-top:-320px;}
.loginTit{padding:0 0 50px;text-align:center;}
.loginTit strong{display:block;margin-top:15px;color:#000;font-size:30px;line-height:35px;}
.loginArea{position:relative;width:450px;padding:50px;margin:0 auto;border:1px solid #8c8c8c;}
.loginArea .inpWrap:after{content:'';display:block;clear:both;}
.loginArea label{float:left;width:100px;margin-right:0;font-size:16px;font-weight:bold;line-height:38px;}
.loginArea input{float:left;height:40px;padding:0 10px;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;font-size:16px;}
.loginArea .inpWrap+.inpWrap{margin-top:10px;}
.loginArea .inpWrap a{width:140px;margin-left:10px;padding:0 15px;}
.loginArea .btnLogin{display:block;width:100%;height:50px;margin:20px 0 40px;color:#fff;font-size:18px;line-height:47px;font-weight:bold;text-align:center;background:#1c69d4;}
.loginFooter{position:fixed;bottom:0;left:0;right:0;height:50px;;text-align:center;}

/*popup*/
.layerPop{display:none;position:fixed;left:50%;top:60px;z-index:10000;width:680px;margin-left:-340px;background:#fff;}
.layerPop.w400{width:400px;margin-left:-200px;}
.layerPop.pAbs{position:absolute;}
.popTit{height:50px;background:#4d4d4d;}
.popTit .tit{display:block;padding:11px 20px 0;color:#fff;font-weight:bold;font-size:18px;}
.lyClose{overflow:hidden;position:absolute;right:0;top:0;width:60px;height:50px;background:url(../img/btn_close_w.png) no-repeat 50% 50%;color:transparent;font-size:1px;line-height:1px;letter-spacing:-1px}
.popCont{min-height:100px;padding:20px 20px 30px;word-break:keep-all;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}

/*Dashboard*/
.dashBd{display:table;width:100%;background:#e6e6e6;}
.dashBd>div{display:table-cell;position:relative;width:33.33%;padding:20px;text-align:center;}
.dashBd>div:before{content:'';position:absolute;left:-1px;width:2px;top:0;bottom:0;background:#fff;}
.dashBd dl{display:inline-block;}
.dashBd dl dt strong{display:inline-block;padding:0 5px 5px;border-bottom:2px solid #333;font-size:18px;}
.dashBd dl dt{padding-bottom:15px;}
.dashBd dl dd+dd{margin-top:12px;padding-top:7px;border-top:1px solid #ccc;}
.dashBd dl dd div{display:inline-block;font-size:15px;text-align:right;}
.dashBd dl dd div.type1{font-size:18px;}
.dashBd dl dd div+div:before{content:'/';display:inline-block;margin:0 11px 0 7px;text-align:left;}
.dashBd dl dd div span{display:block;font-size:13px;letter-spacing:0;}

/*회원관리*/
tr.stopId td, tr.stopId td a{color:#8e8e8e !important;}
.reCh span+span{margin-left:40px;}

/*예약관리*/
.brDl{display:block;padding:10px;margin-bottom:10px;background:#f7f7f7;color:#262626;font-size:16px}
.brDl em{color:#8e8e8e;font-size:13px;}

/*Push*/
.topRelative{position:relative;}
.rArea{position:absolute;right:0;bottom:0;}
.targetUser label{width:150px;}
label+.selectInfo{margin-left:5px;}
.selectInfo{display:inline-block;padding:7px 15px;background:#f2f2f2;border-radius:5px;font-size:14px;line-height:18px;}
.selectInfo .edit{display:inline-block;overflow:hidden;width:15px;height:15px;margin-left:10px;background:url(../img/btn_edit.gif) no-repeat;color:transparent;font-size:1px;line-height:1px;letter-spacing:-1px;vertical-align:-1px;}
.selectInfo .del{display:inline-block;overflow:hidden;width:15px;height:15px;margin-left:5px;background:url(../img/btn_delete.gif) no-repeat;color:transparent;font-size:1px;line-height:1px;letter-spacing:-1px;vertical-align:-1px;}

.infoBox{padding:15px;margin-top:20px;border:1px solid #e6e6e6;background:#f7f7f7;letter-spacing:0 !important}

/*컨텐츠관리*/
td pre{color:#4d4d4d;font-size:1em;font-family:'malgun gothic','dotum','Sans-serif';letter-spacing:0}

.certNum{position:relative;}
.certNum em{display:block;position:absolute;left:160px;top:0;width:30px;color:#d20000;font-weight:bold;line-height:30px;text-align:right;}

.infoTxt{text-align:center;padding-top:10px;}
.infoTxt strong{font-size:16px;line-height:22px;}

/*15.05.14 footer 하단 고정*/
html,body{height:100%;}
.wrapper{min-height:100%;}
.container{padding:30px 0 119px;}
.footer{position:absolute;left:0;right:0;bottom:0;}

/*15.05.15 airport service*/
.calSelect{padding:0 0 20px;text-align:center;}
.calSelect button{display:inline-block;width:30px;height:30px;vertical-align:middle;}
.calSelect span{display:inline-block;line-height:25px;padding:0 15px;font-size:25px;vertical-align:middle;}
.tableCal{margin:10px 0 0;}
.tableCal .today{background:#f5f5f5;}
.slotCon{position:relative;}
.slotCon .topBox{position:absolute;right:0;top:0;}
.slotCon .topBox select{margin:0 0 0 5px;}
.btnSearch{display:inline-block;padding:6px;vertical-align:middle;}
.datepicker .ui-datepicker-inline{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;}

/*2018-06-22 LGJ 추가.*/
.deptpicker .ui-datepicker-inline{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;}
.returnpicker .ui-datepicker-inline{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;}

/*2018.07.06 계정유형*/
.selectCheckBox ul{width:500px;}
.selectCheckBox ul li{float:left;width:250px;}
.selectCheckBox ul li:after{content:'';display:block;clear:both;};